# ref: https://wiki.archlinux.org/title/Systemd/User
#      https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=Shikane | Dynamic Output Configuration Tool
Wants=xdg-desktop-portal.service
After=xdg-desktop-portal.service

[Service]
Type=simple
ExecStart=/usr/local/bin/shikane
StandardOutput=journal

Restart=on-failure
RestartSec=3

Documentation=https://gitlab.com/w0lff/shikane
