# ref: https://wiki.archlinux.org/title/Systemd/User
#      https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=Waybar | Highly Customizable Wayland Bar

[Service]
Type=simple
ExecStart=/usr/local/bin/waybar --log-level warning
ExecReload=kill -SIGUSR2 $MAINPID
StandardOutput=journal

Restart=on-failure
RestartSec=1
